/*
 * blank file for includes.
 */

/*
COLORS I USE:
    #F88017;    orange
    #2B547E;    blue
*/

body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: url(../icons/bg2.jpg);
}

#topBox {
    width: 100%;
    height: 30px;
    border-top: 5px solid #2B547E;
    background: url(../icons/bg_main_content.jpg);
}

#loginForm {
    width: auto;
    background: #2B547E;
    color: #fff;
    float: right;
    margin: 0 100px 0 0;
    padding: 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#infoBox {
    width: auto;
    background: #2B547E;
    color: #fff;
    float: left;
    margin: 0 0 0 100px;
    padding: 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#secondColumn {
    width: 100%;
    background: url(../icons/bg_main_content.jpg);
    padding: 5px 0;
}

#logo {
    width: 300px;
    margin: 0 auto;
    background: url(../icons/bg_main_content.jpg);
}

#logo img {
    padding: 10px 0 5px 0;
}

#thirdColumn {
    width: 100%;
    background: url(../icons/bg_main_content.jpg);
    border-bottom: 5px solid #2B547E;
}

#navi {
    width: 855px;
    background: #2B547E;
    color: #fff;
    margin: 0 auto;
    padding: 10px 10px 10px 40px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#navi a {
    color: #fff;
}

#navi a:visited {
    color: #fff;
}

#navi a:hover {
    color: #F88017;
}

#navi a.active {
    color: rgb(248, 128, 23);
    outline: rgb(248, 128, 23) none 0px;
    background-color: rgb(78, 93, 108);
}

#search {
    width: 855px;
    margin: 0 auto;
    background: #2B547E;
    padding: 10px 10px 10px 170px;
    color: #fff;
}

#footer {
    margin: 30px 0 0 0;
    width: 100%;
    background: #2B547E;
    bottom: 0;
    height: auto;
    padding: 10px 0;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

