php_flag register_globals off
php_value session.save_path /www/htdocs/w006e175/Sessions/amasebasenew_sessiontemp

<IfDefine !SSL>
RewriteEngine On
RewriteBase /amasebase/
RewriteCond %{SERVER_PORT}     !^443$
RewriteRule (.*)  https://amase-master.net%{REQUEST_URI} [R=301,L]
</IfDefine>

#<IfDefine SSL>
AuthUserFile /www/htdocs/w006e175/amase/amasebase/.htpasswd
AuthGroupFile /dev/null
AuthName AmasebasePassword
AuthType Basic
<Limit GET POST>
require user christos amsecretary amsoldera pskrieger amasegrades amaseLTU amaseLTUbc amaseLTUrf amaseLTUas amaseINPL  amaseINPLro amaseUPC amaseINPLds amaseUPCco amaseUPCnb amaseLTUaa amaseULds amaseLTUasa lwLTU violaNilsson elisabethNystrom Kostronor LTUMariaThor
</Limit>
#</IfDefine>
