body {
  margin: 0;
  padding: 0;
  font: 12pt Garamond, Palatino, "Times New Roman", Times, serif;
  color: black;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", Verdana, 
"Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  margin: .75em 0 .5em 0;
  page-break-after: avoid;
}


td.grades {
	border-bottom:2px solid #000000;
	border-spacing:0px; 
}

td#modulname {
	font-size:20px;
	border-bottom:2px solid #000000;
	border-spacing:0px; 
}
 
a, a:visited, a:hover, a:visited:hover {
  color: #04667e;
  background: transparent;
  text-decoration: none;
}

p {
  margin: 0 0 1em 0;
}

p+p {
  margin-top: -1em;
  text-indent: 2em;
}

/* Bedienelemente verbergen */
form { display: none; }

